In [1]:
import pandas as pd
import geopandas as gp

In [2]:
acs = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/ACS_2019.csv')
lehd_od = gp.read_file('C:/Workspace/TNC-Demand-Model/Outputs/OD_2019.shp')
lehd_rac = gp.read_file('C:/Workspace/TNC-Demand-Model/Outputs/RAC_2019.shp')
lehd_wac = gp.read_file('C:/Workspace/TNC-Demand-Model/Outputs/WAC_2019.shp')

In [3]:
ridehail = pd.read_csv('C:/Workspace/TNC-Demand-Model/Outputs/2019_Weekday_Ridehail.csv')

In [4]:
est = ridehail.merge(acs, how = 'left', left_on = 'Pickup Census Tract', right_on = 'CENSUS_TRACT', suffixes = ('','_ORIGIN'))
est = est.merge(acs, how = 'left', left_on = 'Dropoff Census Tract', right_on = 'CENSUS_TRACT', suffixes = ('','_DESTINATION'))

In [5]:
est['ORIGIN_CENSUS_TRACT'] = est['Pickup Census Tract'].astype(str)
est['DESTINATION_CENSUS_TRACT'] = est['Dropoff Census Tract'].astype(str)

In [6]:
est['ORIGIN_CENSUS_TRACT'].head()

0    17031010100.0
1    17031010100.0
2    17031010100.0
3    17031010100.0
4    17031010100.0
Name: ORIGIN_CENSUS_TRACT, dtype: object

In [7]:
est['ORIGIN_CENSUS_TRACT'] = est['ORIGIN_CENSUS_TRACT'].apply(lambda x: x[5:11])
est['DESTINATION_CENSUS_TRACT'] = est['DESTINATION_CENSUS_TRACT'].apply(lambda x: x[5:11])

In [8]:
lehd_od.head()

,ORIGIN,DESTINATIO,TOTAL_EMP,29U_EMP,30_54_EMP,55P_EMP,1250U_EMP,1251_3333_,333P_EMP,geometry
0,010100,001300,1.005594,0.000000,0.000000,1.005594,0.000000,1.005594,0.000000,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."
1,010100,010100,25.139860,2.011189,14.078322,9.050350,8.044755,14.078322,3.016783,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."
2,010100,010201,15.083916,2.011189,9.050350,4.022378,4.022378,8.044755,3.016783,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."
3,010100,010202,6.033566,2.011189,3.016783,1.005594,0.000000,6.033566,0.000000,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."
4,010100,010300,7.039161,0.000000,2.011189,5.027972,0.000000,6.033566,1.005594,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."

In [9]:
est = est.merge(lehd_od, how = 'left', right_on = ['ORIGIN', 'DESTINATIO'], left_on = ['ORIGIN_CENSUS_TRACT', 'DESTINATION_CENSUS_TRACT'], suffixes = ('', '_LEHD_OD'))

In [10]:
est.head()

,Unnamed: 0,Pickup Census Tract,Dropoff Census Tract,MONTH,DAY,Trip Seconds,Trip Miles,Fare,Tip,Additional Charges,...,ORIGIN,DESTINATIO,TOTAL_EMP,29U_EMP,30_54_EMP,55P_EMP,1250U_EMP,1251_3333_,333P_EMP,geometry
0,0,1.703101e+10,1.703101e+10,1.545455,14.681818,357.088636,1.089394,4.126894,0.606061,2.351250,...,010100,010100,25.139860,2.011189,14.078322,9.050350,8.044755,14.078322,3.016783,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."
1,1,1.703101e+10,1.703101e+10,1.482759,15.310345,285.902299,1.069540,3.735632,0.068966,2.387069,...,010100,010201,15.083916,2.011189,9.050350,4.022378,4.022378,8.044755,3.016783,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."
2,2,1.703101e+10,1.703101e+10,1.384615,16.000000,230.307692,0.576923,2.884615,0.076923,2.153846,...,010100,010202,6.033566,2.011189,3.016783,1.005594,0.000000,6.033566,0.000000,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."
3,3,1.703101e+10,1.703101e+10,1.500000,14.333333,206.625000,0.700000,3.333333,0.250000,2.125000,...,010100,010300,7.039161,0.000000,2.011189,5.027972,0.000000,6.033566,1.005594,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."
4,4,1.703101e+10,1.703101e+10,1.588235,10.764706,365.431373,1.462745,4.950980,0.490196,1.647059,...,010100,010400,2.011189,1.005594,0.000000,1.005594,1.005594,1.005594,0.000000,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."

In [11]:
lehd_rac.head()

,CENSUS_TRA,COUNTY_FIP,TOTAL_EMP,29U_EMP,30_54_EMP,55P_EMP,1250U_EMP,1251_3333_,333P_EMP,FOOD_SERVI,geometry
0,010100,031,20193.341358,4746.405618,10800.083969,4646.851771,5129.537088,7446.426610,7617.377660,1667.275533,"POLYGON ((-87.67720 42.02294, -87.67628 42.022..."
1,010201,031,3878.577641,994.532872,2135.882528,748.162241,971.404201,1411.854552,1495.318888,457.545457,"POLYGON ((-87.68465 42.01948, -87.68432 42.019..."
2,010202,031,5422.165062,1208.724481,2948.402812,1265.037768,1323.362244,1730.627981,2368.174837,435.422380,"POLYGON ((-87.67683 42.01941, -87.67674 42.019..."
3,010300,031,18448.635056,4114.892328,9960.412636,4373.330091,4553.331491,6415.692339,7479.611226,1570.738469,"POLYGON ((-87.67133 42.01937, -87.67121 42.019..."
4,010400,031,16317.780500,3894.667152,8445.987454,3977.125894,4023.383237,5395.014013,6899.383251,1415.876930,"POLYGON ((-87.66345 42.01283, -87.66321 42.012..."

In [12]:
est = est.merge(lehd_rac, how = 'left', right_on = 'CENSUS_TRA', left_on = 'ORIGIN_CENSUS_TRACT', suffixes = ('', '_RAC_ORIGIN'))
est = est.merge(lehd_rac, how = 'left', right_on = 'CENSUS_TRA', left_on = 'DESTINATION_CENSUS_TRACT', suffixes = ('', '_RAC_DESTINATION'))

In [13]:
est.head()

,Unnamed: 0,Pickup Census Tract,Dropoff Census Tract,MONTH,DAY,Trip Seconds,Trip Miles,Fare,Tip,Additional Charges,...,COUNTY_FIP_RAC_DESTINATION,TOTAL_EMP_RAC_DESTINATION,29U_EMP_RAC_DESTINATION,30_54_EMP_RAC_DESTINATION,55P_EMP_RAC_DESTINATION,1250U_EMP_RAC_DESTINATION,1251_3333__RAC_DESTINATION,333P_EMP_RAC_DESTINATION,FOOD_SERVI_RAC_DESTINATION,geometry_RAC_DESTINATION
0,0,1.703101e+10,1.703101e+10,1.545455,14.681818,357.088636,1.089394,4.126894,0.606061,2.351250,...,031,20193.341358,4746.405618,10800.083969,4646.851771,5129.537088,7446.426610,7617.377660,1667.275533,"POLYGON ((-87.67720 42.02294, -87.67628 42.022..."
1,1,1.703101e+10,1.703101e+10,1.482759,15.310345,285.902299,1.069540,3.735632,0.068966,2.387069,...,031,3878.577641,994.532872,2135.882528,748.162241,971.404201,1411.854552,1495.318888,457.545457,"POLYGON ((-87.68465 42.01948, -87.68432 42.019..."
2,2,1.703101e+10,1.703101e+10,1.384615,16.000000,230.307692,0.576923,2.884615,0.076923,2.153846,...,031,5422.165062,1208.724481,2948.402812,1265.037768,1323.362244,1730.627981,2368.174837,435.422380,"POLYGON ((-87.67683 42.01941, -87.67674 42.019..."
3,3,1.703101e+10,1.703101e+10,1.500000,14.333333,206.625000,0.700000,3.333333,0.250000,2.125000,...,031,18448.635056,4114.892328,9960.412636,4373.330091,4553.331491,6415.692339,7479.611226,1570.738469,"POLYGON ((-87.67133 42.01937, -87.67121 42.019..."
4,4,1.703101e+10,1.703101e+10,1.588235,10.764706,365.431373,1.462745,4.950980,0.490196,1.647059,...,031,16317.780500,3894.667152,8445.987454,3977.125894,4023.383237,5395.014013,6899.383251,1415.876930,"POLYGON ((-87.66345 42.01283, -87.66321 42.012..."

In [14]:
est = est.merge(lehd_wac, how = 'left', right_on = 'CENSUS_TRA', left_on = 'ORIGIN_CENSUS_TRACT', suffixes = ('', '_WAC_ORIGIN'))
est = est.merge(lehd_wac, how = 'left', right_on = 'CENSUS_TRA', left_on = 'DESTINATION_CENSUS_TRACT', suffixes = ('', '_WAC_DESTINATION'))

In [15]:
est.head()

,Unnamed: 0,Pickup Census Tract,Dropoff Census Tract,MONTH,DAY,Trip Seconds,Trip Miles,Fare,Tip,Additional Charges,...,COUNTY_FIP_WAC_DESTINATION,TOTAL_EMP_WAC_DESTINATION,29U_EMP_WAC_DESTINATION,30_54_EMP_WAC_DESTINATION,55P_EMP_WAC_DESTINATION,1250U_EMP_WAC_DESTINATION,1251_3333__WAC_DESTINATION,333P_EMP_WAC_DESTINATION,FOOD_SERVI_WAC_DESTINATION,geometry_WAC_DESTINATION
0,0,1.703101e+10,1.703101e+10,1.545455,14.681818,357.088636,1.089394,4.126894,0.606061,2.351250,...,031,9079.511933,1994.093716,4582.493729,2502.924488,2668.847566,3633.212605,2777.451762,713.972031,"POLYGON ((-87.67720 42.02294, -87.67628 42.022..."
1,1,1.703101e+10,1.703101e+10,1.482759,15.310345,285.902299,1.069540,3.735632,0.068966,2.387069,...,031,1205.707698,282.572029,629.502101,293.633568,506.819583,519.892310,178.995805,33.184616,"POLYGON ((-87.68465 42.01948, -87.68432 42.019..."
2,2,1.703101e+10,1.703101e+10,1.384615,16.000000,230.307692,0.576923,2.884615,0.076923,2.153846,...,031,5710.770657,1572.749658,2903.151063,1234.869936,1616.995812,2210.296514,1883.478331,348.941260,"POLYGON ((-87.67683 42.01941, -87.67674 42.019..."
3,3,1.703101e+10,1.703101e+10,1.500000,14.333333,206.625000,0.700000,3.333333,0.250000,2.125000,...,031,6953.685349,1191.629376,3950.980439,1811.075533,1711.521687,2680.914699,2561.248964,203.130071,"POLYGON ((-87.67133 42.01937, -87.67121 42.019..."
4,4,1.703101e+10,1.703101e+10,1.588235,10.764706,365.431373,1.462745,4.950980,0.490196,1.647059,...,031,17294.212673,3218.907708,9510.911935,4564.393029,3526.619598,5732.893735,8034.699340,1123.248957,"POLYGON ((-87.66345 42.01283, -87.66321 42.012..."

In [16]:
lehd_rac.head()

,CENSUS_TRA,COUNTY_FIP,TOTAL_EMP,29U_EMP,30_54_EMP,55P_EMP,1250U_EMP,1251_3333_,333P_EMP,FOOD_SERVI,geometry
0,010100,031,20193.341358,4746.405618,10800.083969,4646.851771,5129.537088,7446.426610,7617.377660,1667.275533,"POLYGON ((-87.67720 42.02294, -87.67628 42.022..."
1,010201,031,3878.577641,994.532872,2135.882528,748.162241,971.404201,1411.854552,1495.318888,457.545457,"POLYGON ((-87.68465 42.01948, -87.68432 42.019..."
2,010202,031,5422.165062,1208.724481,2948.402812,1265.037768,1323.362244,1730.627981,2368.174837,435.422380,"POLYGON ((-87.67683 42.01941, -87.67674 42.019..."
3,010300,031,18448.635056,4114.892328,9960.412636,4373.330091,4553.331491,6415.692339,7479.611226,1570.738469,"POLYGON ((-87.67133 42.01937, -87.67121 42.019..."
4,010400,031,16317.780500,3894.667152,8445.987454,3977.125894,4023.383237,5395.014013,6899.383251,1415.876930,"POLYGON ((-87.66345 42.01283, -87.66321 42.012..."

In [17]:
lehd_wac.head()

,CENSUS_TRA,COUNTY_FIP,TOTAL_EMP,29U_EMP,30_54_EMP,55P_EMP,1250U_EMP,1251_3333_,333P_EMP,FOOD_SERVI,geometry
0,010100,031,9079.511933,1994.093716,4582.493729,2502.924488,2668.847566,3633.212605,2777.451762,713.972031,"POLYGON ((-87.67720 42.02294, -87.67628 42.022..."
1,010201,031,1205.707698,282.572029,629.502101,293.633568,506.819583,519.892310,178.995805,33.184616,"POLYGON ((-87.68465 42.01948, -87.68432 42.019..."
2,010202,031,5710.770657,1572.749658,2903.151063,1234.869936,1616.995812,2210.296514,1883.478331,348.941260,"POLYGON ((-87.67683 42.01941, -87.67674 42.019..."
3,010300,031,6953.685349,1191.629376,3950.980439,1811.075533,1711.521687,2680.914699,2561.248964,203.130071,"POLYGON ((-87.67133 42.01937, -87.67121 42.019..."
4,010400,031,17294.212673,3218.907708,9510.911935,4564.393029,3526.619598,5732.893735,8034.699340,1123.248957,"POLYGON ((-87.66345 42.01283, -87.66321 42.012..."

In [18]:
lehd_od.head()

,ORIGIN,DESTINATIO,TOTAL_EMP,29U_EMP,30_54_EMP,55P_EMP,1250U_EMP,1251_3333_,333P_EMP,geometry
0,010100,001300,1.005594,0.000000,0.000000,1.005594,0.000000,1.005594,0.000000,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."
1,010100,010100,25.139860,2.011189,14.078322,9.050350,8.044755,14.078322,3.016783,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."
2,010100,010201,15.083916,2.011189,9.050350,4.022378,4.022378,8.044755,3.016783,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."
3,010100,010202,6.033566,2.011189,3.016783,1.005594,0.000000,6.033566,0.000000,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."
4,010100,010300,7.039161,0.000000,2.011189,5.027972,0.000000,6.033566,1.005594,"POLYGON ((-87.67677 42.02255, -87.67582 42.022..."

In [19]:
est.columns

Index(['Unnamed: 0', 'Pickup Census Tract', 'Dropoff Census Tract', 'MONTH',
       'DAY', 'Trip Seconds', 'Trip Miles', 'Fare', 'Tip',
       'Additional Charges',
       ...
       'COUNTY_FIP_WAC_DESTINATION', 'TOTAL_EMP_WAC_DESTINATION',
       '29U_EMP_WAC_DESTINATION', '30_54_EMP_WAC_DESTINATION',
       '55P_EMP_WAC_DESTINATION', '1250U_EMP_WAC_DESTINATION',
       '1251_3333__WAC_DESTINATION', '333P_EMP_WAC_DESTINATION',
       'FOOD_SERVI_WAC_DESTINATION', 'geometry_WAC_DESTINATION'],
      dtype='object', length=169)

In [20]:
drop = ['Unnamed: 0', 'Unnamed: 0_ORIGIN', 'Unnamed: 0_DESTINATION', 'CENSUS_TRACT','ORIGIN', 'DESTINATIO', 'geometry', 'CENSUS_TRA', 'COUNTY_FIP', 'geometry_RAC_ORIGIN', 'CENSUS_TRA_RAC_DESTINATION', 'COUNTY_FIP_RAC_DESTINATION', 'geometry_RAC_DESTINATION', 'COUNTY_FIP_WAC_ORIGIN', 'CENSUS_TRA_WAC_ORIGIN', 'geometry_WAC_ORIGIN', 'CENSUS_TRA_WAC_DESTINATION', 'COUNTY_FIP_WAC_DESTINATION', 'geometry_WAC_DESTINATION', ]

In [21]:
est = est.drop(drop, axis = 1)

In [83]:
for col in est.columns:
    print(col)

Pickup Census Tract
Dropoff Census Tract
MONTH
DAY
Trip Seconds
Trip Miles
Fare
Tip
Additional Charges
Trip Total
PRIVATE_TRIPS
SHARED_TRIPS
Trips Pooled
TOD
TOTAL_POP
TOTAL_MALE
TOTAL_FEMALE
AGE_5U
AGE_5_9
AGE+10_14
AGE_15_19
AGE_20_24
AGE_25_34
AGE_35_44
AGE_45_54
AGE_55_59
AGE_60_64
AGE_65_74
AGE_75_84
AGE_85P
MEDIAN_AGE
TOTAL_HHLDS
AVG_HHLD_SIZE
AVG_FAMILY_SIZE
TOTAL_POP_18_24
TOTAL_POP_18_24_NO_HIGH_SCHOOL
TOTAL_POP_18_24_HIGH_SCHOOL
TOTAL_POP_18_24_SOME_COLLEGE
TOTAL_POP_18_24_SOME_BACHELORS_HIGHER
TOTAL_POP_25P
TOTAL_POP_25P_LESS_THAN_9TH
TOTAL_POP_25P_9TH_TO_12TH
TOTAL_POP_25P_HIGH_SCHOOL
TOTAL_POP_25P_SOME_COLLEGE
TOTAL_POP_25P_ASSOCIATES
TOTAL_POP_25P_BACHELORS
TOTAL_POP_25P_GRADUATE
TOTAL_POP_25P_HIGH_SCHOOL_HIGHER
TOTAL_POP_25P_BACHELORS_HIGHER
TOTAL_HHLDS_LESS_10K
TOTAL_HHLDS_10K_15K
TOTAL_HHLDS_15K_25K
TOTAL_HHLDS_25K_35K
TOTAL_HHLDS_35K_50K
TOTAL_HHLDS_50K_75K
TOTAL_HHLDS_75K_100K
TOTAL_HHLDS_100K_150K
TOTAL_HHLDS_150K_200K
TOTAL_HHLDS_200KP
HHLDS_MEDIAN_INCOME
HHLDS_MEAN_INCOME
TOTAL_POP_DESTINATION
TOTAL_MALE_DESTINATION
TOTAL_FEMALE_DESTINATION
AGE_5U_DESTINATION
AGE_5_9_DESTINATION
AGE+10_14_DESTINATION
AGE_15_19_DESTINATION
AGE_20_24_DESTINATION
AGE_25_34_DESTINATION
AGE_35_44_DESTINATION
AGE_45_54_DESTINATION
AGE_55_59_DESTINATION
AGE_60_64_DESTINATION
AGE_65_74_DESTINATION
AGE_75_84_DESTINATION
AGE_85P_DESTINATION
MEDIAN_AGE_DESTINATION
CENSUS_TRACT_DESTINATION
TOTAL_HHLDS_DESTINATION
AVG_HHLD_SIZE_DESTINATION
AVG_FAMILY_SIZE_DESTINATION
TOTAL_POP_18_24_DESTINATION
TOTAL_POP_18_24_NO_HIGH_SCHOOL_DESTINATION
TOTAL_POP_18_24_HIGH_SCHOOL_DESTINATION
TOTAL_POP_18_24_SOME_COLLEGE_DESTINATION
TOTAL_POP_18_24_SOME_BACHELORS_HIGHER_DESTINATION
TOTAL_POP_25P_DESTINATION
TOTAL_POP_25P_LESS_THAN_9TH_DESTINATION
TOTAL_POP_25P_9TH_TO_12TH_DESTINATION
TOTAL_POP_25P_HIGH_SCHOOL_DESTINATION
TOTAL_POP_25P_SOME_COLLEGE_DESTINATION
TOTAL_POP_25P_ASSOCIATES_DESTINATION
TOTAL_POP_25P_BACHELORS_DESTINATION
TOTAL_POP_25P_GRADUATE_DESTINATION
TOTAL_POP_25P_HIGH_SCHOOL_HIGHER_DESTINATION
TOTAL_POP_25P_BACHELORS_HIGHER_DESTINATION
TOTAL_HHLDS_LESS_10K_DESTINATION
TOTAL_HHLDS_10K_15K_DESTINATION
TOTAL_HHLDS_15K_25K_DESTINATION
TOTAL_HHLDS_25K_35K_DESTINATION
TOTAL_HHLDS_35K_50K_DESTINATION
TOTAL_HHLDS_50K_75K_DESTINATION
TOTAL_HHLDS_75K_100K_DESTINATION
TOTAL_HHLDS_100K_150K_DESTINATION
TOTAL_HHLDS_150K_200K_DESTINATION
TOTAL_HHLDS_200KP_DESTINATION
HHLDS_MEDIAN_INCOME_DESTINATION
HHLDS_MEAN_INCOME_DESTINATION
ORIGIN_CENSUS_TRACT
DESTINATION_CENSUS_TRACT
TOTAL_EMP
29U_EMP
30_54_EMP
55P_EMP
1250U_EMP
1251_3333_
333P_EMP
TOTAL_EMP_RAC_ORIGIN
29U_EMP_RAC_ORIGIN
30_54_EMP_RAC_ORIGIN
55P_EMP_RAC_ORIGIN
1250U_EMP_RAC_ORIGIN
1251_3333__RAC_ORIGIN
333P_EMP_RAC_ORIGIN
FOOD_SERVI
TOTAL_EMP_RAC_DESTINATION
29U_EMP_RAC_DESTINATION
30_54_EMP_RAC_DESTINATION
55P_EMP_RAC_DESTINATION
1250U_EMP_RAC_DESTINATION
1251_3333__RAC_DESTINATION
333P_EMP_RAC_DESTINATION
FOOD_SERVI_RAC_DESTINATION
TOTAL_EMP_WAC_ORIGIN
29U_EMP_WAC_ORIGIN
30_54_EMP_WAC_ORIGIN
55P_EMP_WAC_ORIGIN
1250U_EMP_WAC_ORIGIN
1251_3333__WAC_ORIGIN
333P_EMP_WAC_ORIGIN
FOOD_SERVI_WAC_ORIGIN
TOTAL_EMP_WAC_DESTINATION
29U_EMP_WAC_DESTINATION
30_54_EMP_WAC_DESTINATION
55P_EMP_WAC_DESTINATION
1250U_EMP_WAC_DESTINATION
1251_3333__WAC_DESTINATION
333P_EMP_WAC_DESTINATION
FOOD_SERVI_WAC_DESTINATION

In [22]:
rename = ['Pickup Census Tract',
'Dropoff Census Tract',
'MONTH',
'DAY',
'Trip Seconds',
'Trip Miles',
'Fare',
'Tip',
'Additional Charges',
'Trip Total',
'PRIVATE_TRIPS',
'SHARED_TRIPS',
'Trips Pooled',
'TOD',
'TOTAL_POP_ORIGIN',
'TOTAL_MALE_ORIGIN',
'TOTAL_FEMALE_ORIGIN',
'AGE_5U_ORIGIN',
'AGE_5_9_ORIGIN',
'AGE_10_14_ORIGIN',
'AGE_15_19_ORIGIN',
'AGE_20_24_ORIGIN',
'AGE_25_34_ORIGIN',
'AGE_35_44_ORIGIN',
'AGE_45_54_ORIGIN',
'AGE_55_59_ORIGIN',
'AGE_60_64_ORIGIN',
'AGE_65_74_ORIGIN',
'AGE_75_84_ORIGIN',
'AGE_85P_ORIGIN',
'MEDIAN_AGE_ORIGIN',
'TOTAL_HHLDS_ORIGIN',
'AVG_HHLD_SIZE_ORIGIN',
'AVG_FAMILY_SIZE_ORIGIN',
'TOTAL_POP_18_24_ORIGIN',
'TOTAL_POP_18_24_NO_HIGH_SCHOOL_ORIGIN',
'TOTAL_POP_18_24_HIGH_SCHOOL_ORIGIN',
'TOTAL_POP_18_24_SOME_COLLEGE_ORIGIN',
'TOTAL_POP_18_24_SOME_BACHELORS_HIGHER_ORIGIN',
'TOTAL_POP_25P_ORIGIN',
'TOTAL_POP_25P_LESS_THAN_9TH_ORIGIN',
'TOTAL_POP_25P_9TH_TO_12TH_ORIGIN',
'TOTAL_POP_25P_HIGH_SCHOOL_ORIGIN',
'TOTAL_POP_25P_SOME_COLLEGE_ORIGIN',
'TOTAL_POP_25P_ASSOCIATES_ORIGIN',
'TOTAL_POP_25P_BACHELORS_ORIGIN',
'TOTAL_POP_25P_GRADUATE_ORIGIN',
'TOTAL_POP_25P_HIGH_SCHOOL_HIGHER_ORIGIN',
'TOTAL_POP_25P_BACHELORS_HIGHER_ORIGIN',
'TOTAL_HHLDS_LESS_10K_ORIGIN',
'TOTAL_HHLDS_10K_15K_ORIGIN',
'TOTAL_HHLDS_15K_25K_ORIGIN',
'TOTAL_HHLDS_25K_35K_ORIGIN',
'TOTAL_HHLDS_35K_50K_ORIGIN',
'TOTAL_HHLDS_50K_75K_ORIGIN',
'TOTAL_HHLDS_75K_100K_ORIGIN',
'TOTAL_HHLDS_100K_150K_ORIGIN',
'TOTAL_HHLDS_150K_200K_ORIGIN',
'TOTAL_HHLDS_200KP_ORIGIN',
'HHLDS_MEDIAN_INCOME_ORIGIN',
'HHLDS_MEAN_INCOME_ORIGIN',
'TOTAL_POP_DESTINATION',
'TOTAL_MALE_DESTINATION',
'TOTAL_FEMALE_DESTINATION',
'AGE_5U_DESTINATION',
'AGE_5_9_DESTINATION',
'AGE_10_14_DESTINATION',
'AGE_15_19_DESTINATION',
'AGE_20_24_DESTINATION',
'AGE_25_34_DESTINATION',
'AGE_35_44_DESTINATION',
'AGE_45_54_DESTINATION',
'AGE_55_59_DESTINATION',
'AGE_60_64_DESTINATION',
'AGE_65_74_DESTINATION',
'AGE_75_84_DESTINATION',
'AGE_85P_DESTINATION',
'MEDIAN_AGE_DESTINATION',
'CENSUS_TRACT_DESTINATION',
'TOTAL_HHLDS_DESTINATION',
'AVG_HHLD_SIZE_DESTINATION',
'AVG_FAMILY_SIZE_DESTINATION',
'TOTAL_POP_18_24_DESTINATION',
'TOTAL_POP_18_24_NO_HIGH_SCHOOL_DESTINATION',
'TOTAL_POP_18_24_HIGH_SCHOOL_DESTINATION',
'TOTAL_POP_18_24_SOME_COLLEGE_DESTINATION',
'TOTAL_POP_18_24_SOME_BACHELORS_HIGHER_DESTINATION',
'TOTAL_POP_25P_DESTINATION',
'TOTAL_POP_25P_LESS_THAN_9TH_DESTINATION',
'TOTAL_POP_25P_9TH_TO_12TH_DESTINATION',
'TOTAL_POP_25P_HIGH_SCHOOL_DESTINATION',
'TOTAL_POP_25P_SOME_COLLEGE_DESTINATION',
'TOTAL_POP_25P_ASSOCIATES_DESTINATION',
'TOTAL_POP_25P_BACHELORS_DESTINATION',
'TOTAL_POP_25P_GRADUATE_DESTINATION',
'TOTAL_POP_25P_HIGH_SCHOOL_HIGHER_DESTINATION',
'TOTAL_POP_25P_BACHELORS_HIGHER_DESTINATION',
'TOTAL_HHLDS_LESS_10K_DESTINATION',
'TOTAL_HHLDS_10K_15K_DESTINATION',
'TOTAL_HHLDS_15K_25K_DESTINATION',
'TOTAL_HHLDS_25K_35K_DESTINATION',
'TOTAL_HHLDS_35K_50K_DESTINATION',
'TOTAL_HHLDS_50K_75K_DESTINATION',
'TOTAL_HHLDS_75K_100K_DESTINATION',
'TOTAL_HHLDS_100K_150K_DESTINATION',
'TOTAL_HHLDS_150K_200K_DESTINATION',
'TOTAL_HHLDS_200KP_DESTINATION',
'HHLDS_MEDIAN_INCOME_DESTINATION',
'HHLDS_MEAN_INCOME_DESTINATION',
'ORIGIN_CENSUS_TRACT',
'DESTINATION_CENSUS_TRACT',
'TOTAL_EMP_LEHD_OD',
'29U_EMP_LEHD_OD',
'30_54_EMP_LEHD_OD',
'55P_EMP_LEHD_OD',
'1250U_EMP_LEHD_OD',
'1251_3333_EMP_LEHD_OD',
'3333P_EMP_LEHD_OD',
'TOTAL_EMP_RAC_ORIGIN',
'29U_EMP_RAC_ORIGIN',
'30_54_EMP_RAC_ORIGIN',
'55P_EMP_RAC_ORIGIN',
'1250U_EMP_RAC_ORIGIN',
'1251_3333__RAC_ORIGIN',
'3333P_EMP_RAC_ORIGIN',
'FOOD_SERVICE_EMP_RAC_ORIGIN',
'TOTAL_EMP_RAC_DESTINATION',
'29U_EMP_RAC_DESTINATION',
'30_54_EMP_RAC_DESTINATION',
'55P_EMP_RAC_DESTINATION',
'1250U_EMP_RAC_DESTINATION',
'1251_3333_EMP_RAC_DESTINATION',
'3333P_EMP_RAC_DESTINATION',
'FOOD_SERVICE_EMP_RAC_DESTINATION',
'TOTAL_EMP_WAC_ORIGIN',
'29U_EMP_WAC_ORIGIN',
'30_54_EMP_WAC_ORIGIN',
'55P_EMP_WAC_ORIGIN',
'1250U_EMP_WAC_ORIGIN',
'1251_3333__WAC_ORIGIN',
'333P_EMP_WAC_ORIGIN',
'FOOD_SERVICE_EMP_WAC_ORIGIN',
'TOTAL_EMP_WAC_DESTINATION',
'29U_EMP_WAC_DESTINATION',
'30_54_EMP_WAC_DESTINATION',
'55P_EMP_WAC_DESTINATION',
'1250U_EMP_WAC_DESTINATION',
'1251_3333__WAC_DESTINATION',
'3333P_EMP_WAC_DESTINATION',
'FOOD_SERVICE_EMP_WAC_DESTINATION']

In [23]:
est.columns = rename

In [24]:
est.head()

,Pickup Census Tract,Dropoff Census Tract,MONTH,DAY,Trip Seconds,Trip Miles,Fare,Tip,Additional Charges,Trip Total,...,333P_EMP_WAC_ORIGIN,FOOD_SERVICE_EMP_WAC_ORIGIN,TOTAL_EMP_WAC_DESTINATION,29U_EMP_WAC_DESTINATION,30_54_EMP_WAC_DESTINATION,55P_EMP_WAC_DESTINATION,1250U_EMP_WAC_DESTINATION,1251_3333__WAC_DESTINATION,3333P_EMP_WAC_DESTINATION,FOOD_SERVICE_EMP_WAC_DESTINATION
0,1.703101e+10,1.703101e+10,1.545455,14.681818,357.088636,1.089394,4.126894,0.606061,2.351250,7.084205,...,2777.451762,713.972031,9079.511933,1994.093716,4582.493729,2502.924488,2668.847566,3633.212605,2777.451762,713.972031
1,1.703101e+10,1.703101e+10,1.482759,15.310345,285.902299,1.069540,3.735632,0.068966,2.387069,6.191667,...,2777.451762,713.972031,1205.707698,282.572029,629.502101,293.633568,506.819583,519.892310,178.995805,33.184616
2,1.703101e+10,1.703101e+10,1.384615,16.000000,230.307692,0.576923,2.884615,0.076923,2.153846,5.115385,...,2777.451762,713.972031,5710.770657,1572.749658,2903.151063,1234.869936,1616.995812,2210.296514,1883.478331,348.941260
3,1.703101e+10,1.703101e+10,1.500000,14.333333,206.625000,0.700000,3.333333,0.250000,2.125000,5.708333,...,2777.451762,713.972031,6953.685349,1191.629376,3950.980439,1811.075533,1711.521687,2680.914699,2561.248964,203.130071
4,1.703101e+10,1.703101e+10,1.588235,10.764706,365.431373,1.462745,4.950980,0.490196,1.647059,7.088235,...,2777.451762,713.972031,17294.212673,3218.907708,9510.911935,4564.393029,3526.619598,5732.893735,8034.699340,1123.248957

In [87]:
est.to_csv('C:/Workspace/TNC-Demand-Model/Outputs/Estimation_File_2019.csv')

In [93]:
drop_str = ['Pickup Census Tract',
'Dropoff Census Tract',
'MONTH',
'DAY',
'TOD',
'ORIGIN_CENSUS_TRACT',
'DESTINATION_CENSUS_TRACT',
'CENSUS_TRACT_DESTINATION']

In [94]:
est_stats = est.drop(drop_str, axis = 1)

In [95]:
def find_mean(column):
    column = pd.to_numeric(column)
    output = column.mean()
    
    return output

In [96]:
est_stats = est_stats.replace('-', '0')
est_stats = est_stats.replace('250,000+', '250000')

In [99]:
df = pd.DataFrame()
df['Min'] = est_stats.apply(lambda column: column.min(), axis = 0)
df['Max'] = est_stats.apply(lambda column: column.max(), axis = 0)
df['Mean'] = est_stats.apply(lambda column: find_mean(column), axis = 0)

In [100]:
df.head()

                   Min    Max         Mean
Trip Seconds         0  51900  1289.410449
Trip Miles           0  207.3     6.327949
Fare                 0  447.5    10.939210
Tip                  0    100     0.398403
Additional Charges   0  18.04     2.375891

In [102]:
df.to_csv('C:/Workspace/TNC-Demand-Model/Outputs/Descriptive Statistics of 2019 Estimation File.csv')