In [1]:
import pandas as pd 
import numpy as np

In [2]:
year = 2018

In [4]:
acs_dp05 = pd.read_csv('D:/TNC-Demand-Model/Inputs/ACS/' + str(year) + '/DP05/DP05.csv')

C:\Users\transportlab\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (7,8,9,11,12,15,16,19,20,23,24,27,28,31,32,35,36,39,40,43,44,47,48,51,52,55,56,59,60,63,64,67,68,71,72,75,76,79,80,83,84,87,88,91,92,95,96,99,100,103,104,107,108,111,112,115,116,119,120,123,124,127,128,129,131,132,135,136,139,140,143,144,147,148,151,152,155,156,157,159,160,163,164,167,168,171,172,175,176,179,180,183,184,187,188,191,192,195,196,199,200,203,204,207,208,211,212,215,216,219,220,223,224,225,227,228,231,232,235,236,237,239,240,243,244,251,252,255,256,259,260,263,264,267,268,271,272,275,276,279,280,283,284,287,288,291,292,295,296,299,300,307,308,311,312,315,316,319,320,323,324,327,328,331,332,333,335,336,339,340,347,348,349,351,352,355,356) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
acs_dp05.head()

In [73]:
acs_dp05[['TRACT', 'COUNTY', 'STATE']] = acs_dp05.NAME.str.split(',', expand=True)

In [74]:
acs_dp05 = acs_dp05[acs_dp05['COUNTY'] == ' Cook County']

In [75]:
acs_dp05.head()

,GEO_ID,NAME,DP05_0031PM,DP05_0032E,DP05_0032M,DP05_0032PE,DP05_0032PM,DP05_0033E,DP05_0033M,DP05_0033PE,...,DP05_0030E,DP05_0030M,DP05_0030PE,DP05_0030PM,DP05_0031E,DP05_0031M,DP05_0031PE,TRACT,COUNTY,STATE
140,1400000US17031010100,"Census Tract 101, Cook County, Illinois",20.1,110.0,96.0,(X),(X),4522,529,4522,...,132,66,52.4,20.1,120,65,47.6,Census Tract 101,Cook County,Illinois
141,1400000US17031010201,"Census Tract 102.01, Cook County, Illinois",16.0,102.6,71.7,(X),(X),7039,804,7039,...,235,120,50.6,16.0,229,126,49.4,Census Tract 102.01,Cook County,Illinois
142,1400000US17031010202,"Census Tract 102.02, Cook County, Illinois",12.6,80.2,42.1,(X),(X),2852,291,2852,...,170,68,44.5,12.6,212,56,55.5,Census Tract 102.02,Cook County,Illinois
143,1400000US17031010300,"Census Tract 103, Cook County, Illinois",9.0,63.4,24.2,(X),(X),6650,514,6650,...,484,98,38.8,9.0,763,193,61.2,Census Tract 103,Cook County,Illinois
144,1400000US17031010400,"Census Tract 104, Cook County, Illinois",20.2,109.2,87.8,(X),(X),5153,609,5153,...,178,118,52.2,20.2,163,73,47.8,Census Tract 104,Cook County,Illinois

In [76]:
acs_dp05['CENSUS_TRACT'] = acs_dp05.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [77]:
acs_dp05.CENSUS_TRACT.head()

140    17031010100
141    17031010201
142    17031010202
143    17031010300
144    17031010400
Name: CENSUS_TRACT, dtype: object

In [78]:
rename = ['TOTAL_POP', 'TOTAL_MALE', 'TOTAL_FEMALE', 'AGE_5U', 'AGE_5_9', 'AGE+10_14', 'AGE_15_19', 'AGE_20_24', 'AGE_25_34', 'AGE_35_44', 'AGE_45_54', 'AGE_55_59', 'AGE_60_64', 'AGE_65_74', 'AGE_75_84', 'AGE_85P', 'MEDIAN_AGE', 'CENSUS_TRACT']

In [79]:
keep = ['DP05_0001E', 'DP05_0002E', 'DP05_0003E', 'DP05_0005E', 'DP05_0006E', 'DP05_0007E','DP05_0008E', 'DP05_0009E', 'DP05_0010E', 'DP05_0011E', 'DP05_0012E', 'DP05_0013E', 'DP05_0014E', 'DP05_0015E', 'DP05_0016E', 'DP05_0017E', 'DP05_0018E', 'CENSUS_TRACT']

In [80]:
acs_dp05 = acs_dp05[keep]

In [81]:
acs_dp05.columns = rename

In [82]:
acs_dp05.head()

,TOTAL_POP,TOTAL_MALE,TOTAL_FEMALE,AGE_5U,AGE_5_9,AGE+10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,AGE_45_54,AGE_55_59,AGE_60_64,AGE_65_74,AGE_75_84,AGE_85P,MEDIAN_AGE,CENSUS_TRACT
140,4522,2301,2221,384,253,240,51,431,845,761,552,543,210,192,18,42,35.3,17031010100
141,7039,3701,3338,480,507,479,430,259,1225,1390,956,395,454,220,208,36,36.3,17031010201
142,2852,1390,1462,245,122,123,174,178,526,289,295,290,228,266,83,33,35.7,17031010202
143,6650,3294,3356,351,342,150,267,315,1053,1190,954,407,374,719,291,237,41.6,17031010300
144,5153,2405,2748,84,232,148,1178,907,839,534,461,163,266,254,51,36,25.2,17031010400

In [83]:
acs_s1101 = pd.read_csv('C:/Workspace/TNC-Demand-Model/Inputs/ACS/' + str(year) + '/S1101/S1101.csv')

In [84]:
acs_s1101.head()

,GEO_ID,NAME,S1101_C01_001E,S1101_C01_001M,S1101_C02_001E,S1101_C02_001M,S1101_C03_001E,S1101_C03_001M,S1101_C04_001E,S1101_C04_001M,...,S1101_C01_020E,S1101_C01_020M,S1101_C02_020E,S1101_C02_020M,S1101_C03_020E,S1101_C03_020M,S1101_C04_020E,S1101_C04_020M,S1101_C05_020E,S1101_C05_020M
0,id,Geographic Area Name,Estimate!!Total!!HOUSEHOLDS!!Total households,Margin of Error!!Total MOE!!HOUSEHOLDS!!Total ...,Estimate!!Married-couple family household!!HOU...,Margin of Error!!Married-couple family househo...,"Estimate!!Male householder, no wife present, f...","Margin of Error!!Male householder, no wife pre...","Estimate!!Female householder, no husband prese...","Margin of Error!!Female householder, no husban...",...,Estimate!!Total!!Total households!!HOUSING TEN...,Margin of Error!!Total MOE!!Total households!!...,Estimate!!Married-couple family household!!Tot...,Margin of Error!!Married-couple family househo...,"Estimate!!Male householder, no wife present, f...","Margin of Error!!Male householder, no wife pre...","Estimate!!Female householder, no husband prese...","Margin of Error!!Female householder, no husban...",Estimate!!Nonfamily household!!Total household...,Margin of Error!!Nonfamily household MOE!!Tota...
1,1400000US17001000100,"Census Tract 1, Adams County, Illinois",2133,134,805,153,48,44,263,117,...,20.1,5.9,6.7,5.6,39.6,48.0,19.8,18.7,29.9,9.7
2,1400000US17001000201,"Census Tract 2.01, Adams County, Illinois",890,65,385,65,43,34,151,48,...,18.4,5.6,8.8,6.3,48.8,47.4,18.5,14.2,26.0,9.1
3,1400000US17001000202,"Census Tract 2.02, Adams County, Illinois",933,91,451,86,68,44,74,46,...,23.2,7.8,3.3,4.9,69.1,34.0,35.1,27.3,37.6,16.2
4,1400000US17001000400,"Census Tract 4, Adams County, Illinois",1273,128,441,98,92,66,179,68,...,41.2,7.8,14.1,8.8,94.6,10.5,50.3,22.4,51.0,12.3

In [85]:
acs_s1101[['TRACT', 'COUNTY', 'STATE']] = acs_s1101.NAME.str.split(',', expand=True)

In [86]:
acs_s1101 = acs_s1101[acs_s1101['COUNTY'] == ' Cook County']

In [87]:
acs_s1101['CENSUS_TRACT'] = acs_s1101.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [88]:
keep = ['S1101_C01_001E', 'S1101_C01_002E', 'S1101_C01_004E', 'CENSUS_TRACT']

In [89]:
rename = ['TOTAL_HHLDS', 'AVG_HHLD_SIZE', 'AVG_FAMILY_SIZE', 'CENSUS_TRACT']

In [90]:
acs_s1101 = acs_s1101[keep]
acs_s1101.columns = rename

In [91]:
acs_s1501 = pd.read_csv('C:/Workspace/TNC-Demand-Model/Inputs/ACS/' + str(year) + '/S1501/S1501.csv')

C:\Users\ramu225\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,3,4,7,8,9,10,11,12,13,14,15,16,19,20,21,22,23,24,27,28,31,32,35,36,39,40,43,44,47,48,51,52,55,56,59,60,63,64,67,68,71,72,75,76,79,80,83,84,87,88,91,92,95,96,99,100,103,104,107,108,109,110,111,112,115,116,117,118,119,120,121,122,123,124,127,128,129,130,131,132,135,136,139,140,143,144,145,146,147,148,151,152,153,154,155,156,157,158,159,160,163,164,165,166,167,168,171,172,175,176,179,180,183,184,187,188,191,192,195,196,199,200,203,204,207,208,211,212,215,216,219,220,223,224,227,228,231,232,235,236,239,240,243,244,247,248,251,252,255,256,259,260,263,264,267,268,271,272,275,276,279,280,283,284,287,288,291,292,295,296,299,300,303,304,307,308,311,312,315,316,319,320,323,324,327,328,331,332,335,336,339,340,343,344,347,348,351,352,355,356,359,360,363,364,367,368,371,372,375,376,379,380,383,384,387,388,391,392,395,396,399,400,403,404,407,408,411,412,415,416,445,446,453,454,539,540,543,544,547,548,551,552,553,554,555,556,559,560,563,564,565,566,567,568,571,572,575,576,577,578,579,580,583,584,587,588,589,590,591,592,595,596,599,600,603,604,607,608,611,612,613,614,615,616,619,620,621,622,623,624,625,626,627,628,631,632,633,634,635,636,637,638,639,640,643,644,645,646,647,648,649,650,651,652,655,656,657,658,659,660,661,662,663,664,667,668,669,670,671,672,673,674,675,676,679,680,681,682,683,684,685,686,687,688,691,692,693,694,695,696,697,698,705,706,707,708,709,710,717,718,719,720,723,724,727,728,731,732,735,736,739,740,743,744,747,748,751,752,755,756,759,760,763,764,767,768,769) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [92]:
acs_s1501.head()

,GEO_ID,NAME,S1501_C02_020M,S1501_C03_020E,S1501_C03_020M,S1501_C04_020E,S1501_C04_020M,S1501_C05_020E,S1501_C05_020M,S1501_C06_020E,...,S1501_C03_019M,S1501_C04_019E,S1501_C04_019M,S1501_C05_019E,S1501_C05_019M,S1501_C06_019E,S1501_C06_019M,S1501_C01_020E,S1501_C01_020M,S1501_C02_020E
0,id,Geographic Area Name,Margin of Error!!Percent MOE!!Population 25 ye...,Estimate!!Male!!Population 25 years and over!!...,Margin of Error!!Male MOE!!Population 25 years...,Estimate!!Percent Male!!Population 25 years an...,Margin of Error!!Percent Male MOE!!Population ...,Estimate!!Female!!Population 25 years and over...,Margin of Error!!Female MOE!!Population 25 yea...,Estimate!!Percent Female!!Population 25 years ...,...,Margin of Error!!Male MOE!!Population 25 years...,Estimate!!Percent Male!!Population 25 years an...,Margin of Error!!Percent Male MOE!!Population ...,Estimate!!Female!!Population 25 years and over...,Margin of Error!!Female MOE!!Population 25 yea...,Estimate!!Percent Female!!Population 25 years ...,Margin of Error!!Percent Female MOE!!Populatio...,Estimate!!Total!!Population 25 years and over!...,Margin of Error!!Total MOE!!Population 25 year...,Estimate!!Percent!!Population 25 years and ove...
1,1400000US17001000100,"Census Tract 1, Adams County, Illinois",7.3,174,66,100.0,14.6,189,90,100.0,...,66,(X),(X),189,90,(X),(X),363,128,100.0
2,1400000US17001000201,"Census Tract 2.01, Adams County, Illinois",17.6,59,26,100.0,35.2,82,41,100.0,...,26,(X),(X),82,41,(X),(X),141,56,100.0
3,1400000US17001000202,"Census Tract 2.02, Adams County, Illinois",4.5,215,71,96.4,6.4,89,38,100.0,...,70,(X),(X),89,38,(X),(X),304,87,97.4
4,1400000US17001000400,"Census Tract 4, Adams County, Illinois",7.7,157,79,82.2,17.7,293,130,97.0,...,81,(X),(X),302,131,(X),(X),450,166,91.3

In [93]:
acs_s1501[['TRACT', 'COUNTY', 'STATE']] = acs_s1501.NAME.str.split(',', expand=True)

In [94]:
acs_s1501 = acs_s1501[acs_s1501['COUNTY'] == ' Cook County']

In [95]:
acs_s1501['CENSUS_TRACT'] = acs_s1501.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [96]:
keep = ['S1501_C01_001E', 'S1501_C01_002E', 'S1501_C01_003E', 'S1501_C01_004E', 'S1501_C01_005E', 'S1501_C01_006E', 'S1501_C01_007E', 'S1501_C01_008E', 'S1501_C01_009E', 'S1501_C01_010E', 'S1501_C01_011E', 'S1501_C01_012E', 'S1501_C01_013E', 'S1501_C01_014E', 'S1501_C01_015E','CENSUS_TRACT']

In [97]:
rename = ['TOTAL_POP_18_24', 'TOTAL_POP_18_24_NO_HIGH_SCHOOL', 'TOTAL_POP_18_24_HIGH_SCHOOL', 'TOTAL_POP_18_24_SOME_COLLEGE', 'TOTAL_POP_18_24_SOME_BACHELORS_HIGHER', 'TOTAL_POP_25P', 'TOTAL_POP_25P_LESS_THAN_9TH', 'TOTAL_POP_25P_9TH_TO_12TH', 'TOTAL_POP_25P_HIGH_SCHOOL', 'TOTAL_POP_25P_SOME_COLLEGE', 'TOTAL_POP_25P_ASSOCIATES', 'TOTAL_POP_25P_BACHELORS', 'TOTAL_POP_25P_GRADUATE', 'TOTAL_POP_25P_HIGH_SCHOOL_HIGHER', 'TOTAL_POP_25P_BACHELORS_HIGHER','CENSUS_TRACT']

In [98]:
acs_s1501 = acs_s1501[keep]
acs_s1501.columns = rename

In [99]:
acs_s1901 = pd.read_csv('C:/Workspace/TNC-Demand-Model/Inputs/ACS/' + str(year) + '/S1901/S1901.csv')

In [100]:
acs_s1901.head()

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,...,S1901_C04_015E,S1901_C04_015M,S1901_C01_016E,S1901_C01_016M,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,Estimate!!Families!!Total,Margin of Error!!Families MOE!!Total,Estimate!!Married-couple families!!Total,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!Total,Margin of Error!!Nonfamily households MOE!!Total,...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Nonfa...,Margin of Error!!Households MOE!!PERCENT ALLOC...,Estimate!!Families!!PERCENT ALLOCATED!!Nonfami...,Margin of Error!!Families MOE!!PERCENT ALLOCAT...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...
1,1400000US17001000100,"Census Tract 1, Adams County, Illinois",2133,134,1116,134,805,153,1017,159,...,(X),(X),(X),(X),(X),(X),(X),(X),34.4,(X)
2,1400000US17001000201,"Census Tract 2.01, Adams County, Illinois",890,65,579,71,385,65,311,65,...,(X),(X),(X),(X),(X),(X),(X),(X),22.2,(X)
3,1400000US17001000202,"Census Tract 2.02, Adams County, Illinois",933,91,593,82,451,86,340,84,...,(X),(X),(X),(X),(X),(X),(X),(X),27.9,(X)
4,1400000US17001000400,"Census Tract 4, Adams County, Illinois",1273,128,712,116,441,98,561,116,...,(X),(X),(X),(X),(X),(X),(X),(X),27.1,(X)

In [101]:
acs_s1901[['TRACT', 'COUNTY', 'STATE']] = acs_s1901.NAME.str.split(',', expand=True)

In [102]:
acs_s1901 = acs_s1901[acs_s1901['COUNTY'] == ' Cook County']

In [103]:
acs_s1901['CENSUS_TRACT'] = acs_s1901.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [104]:
keep = ['S1901_C01_002E', 'S1901_C01_003E', 'S1901_C01_004E', 'S1901_C01_005E', 'S1901_C01_006E', 'S1901_C01_007E', 'S1901_C01_008E', 'S1901_C01_009E', 'S1901_C01_010E', 'S1901_C01_011E', 'S1901_C01_012E', 'S1901_C01_012E','CENSUS_TRACT']

In [105]:
rename = ['TOTAL_HHLDS_LESS_10K', 'TOTAL_HHLDS_10K_15K', 'TOTAL_HHLDS_15K_25K', 'TOTAL_HHLDS_25K_35K', 'TOTAL_HHLDS_35K_50K', 'TOTAL_HHLDS_50K_75K', 'TOTAL_HHLDS_75K_100K', 'TOTAL_HHLDS_100K_150K', 'TOTAL_HHLDS_150K_200K', 'TOTAL_HHLDS_200KP', 'HHLDS_MEDIAN_INCOME', 'HHLDS_MEAN_INCOME','CENSUS_TRACT']

In [106]:
acs_s1901 = acs_s1901[keep]
acs_s1901.columns = rename

In [107]:
acs_dp04 = pd.read_csv('C:/Workspace/TNC-Demand-Model/Inputs/ACS/' + str(year) + '/DP04/DP04.csv')

C:\Users\ramu225\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,3,4,6,7,10,11,22,23,24,26,27,30,31,34,35,38,39,42,43,46,47,50,51,54,55,58,59,62,63,64,66,67,70,71,74,75,78,79,82,83,86,87,90,91,94,95,98,99,102,103,106,107,108,110,111,114,115,118,119,122,123,126,127,130,131,134,135,138,139,142,143,150,151,152,154,155,158,159,162,163,166,167,170,171,174,175,178,179,180,182,183,186,187,198,199,200,202,203,206,207,210,211,214,215,218,219,222,223,226,227,228,230,231,234,235,238,239,242,243,246,247,248,250,251,254,255,258,259,262,263,266,267,270,271,274,275,278,279,282,283,286,287,288,290,291,294,295,298,299,302,303,304,306,307,310,311,314,315,318,319,320,322,323,326,327,330,331,334,335,338,339,342,343,346,347,350,351,358,359,360,362,363,366,367,370,371,372,374,375,378,379,382,383,386,387,390,391,394,395,398,399,406,407,408,410,411,414,415,418,419,422,423,426,427,430,431,438,439,440,442,443,446,447,450,451,454,455,458,459,462,463,466,467,468,470,471,474,475,478,479,482,483,486,487,490,491,494,495,498,499,502,503,504,506,507,510,511,514,515,518,519,522,523,526,527,530,531,538,539,542,543,544,546,547,550,551,554,555,558,559,562,563,566,567,570,571) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [108]:
acs_dp04[['TRACT', 'COUNTY', 'STATE']] = acs_dp04.NAME.str.split(',', expand=True)

In [109]:
acs_dp04 = acs_dp04[acs_dp04['COUNTY'] == ' Cook County']

In [110]:
acs_dp04['CENSUS_TRACT'] = acs_dp04.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [111]:
acs_dp04.CENSUS_TRACT.head()

1    17031010100
2    17031010201
3    17031010202
4    17031010300
5    17031010400
Name: CENSUS_TRACT, dtype: object

In [112]:
rename = ['TOTAL_HHLDS', 'HHLDS_0_VEH', 'HHLDS_1_VEH', 'HHLDS_2_VEH', 'HHLDS_3P_VEH', 'CENSUS_TRACT']

In [113]:
keep = ['DP04_0057E', 'DP04_0058E', 'DP04_0059E', 'DP04_0060E', 'DP04_0061E', 'CENSUS_TRACT']

In [114]:
acs_dp04 = acs_dp04[keep]

In [115]:
acs_dp04.columns = rename

In [116]:
acs_dp04.head()

  TOTAL_HHLDS HHLDS_0_VEH HHLDS_1_VEH HHLDS_2_VEH HHLDS_3P_VEH CENSUS_TRACT
1        2316        1162         788         344           22  17031010100
2        2688         751        1317         521           99  17031010201
3        1102         464         449         169           20  17031010202
4        3037         993        1344         613           87  17031010300
5        1938         655        1089         194            0  17031010400

In [117]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT

acs_dp04['HHLDS_0_VEH'] = acs_dp04.HHLDS_0_VEH.astype(float)
acs_dp04['HHLDS_1_VEH'] = acs_dp04.HHLDS_1_VEH.astype(float)
acs_dp04['HHLDS_2_VEH'] = acs_dp04.HHLDS_2_VEH.astype(float)
acs_dp04['HHLDS_3P_VEH'] = acs_dp04.HHLDS_3P_VEH.astype(float)
acs_dp04['TOTAL_HHLDS'] = acs_dp04.TOTAL_HHLDS.astype(float)

In [1]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT

def set_avg_veh_per_hhlds(row):
    if row['TOTAL_HHLDS']  == 0:
        veh = 0
        
    else:
        veh = (row['HHLDS_0_VEH']*0 + row['HHLDS_1_VEH']*1 + row['HHLDS_2_VEH']*2 + row['HHLDS_3P_VEH']*3)/row['TOTAL_HHLDS']
        
    return veh

In [119]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT

acs_dp04['AVG_VEH_PER_HHLD'] = acs_dp04.apply(lambda row: set_avg_veh_per_hhlds(row), axis = 1)

In [120]:
acs_dp04.head()

,TOTAL_HHLDS,HHLDS_0_VEH,HHLDS_1_VEH,HHLDS_2_VEH,HHLDS_3P_VEH,CENSUS_TRACT,AVG_VEH_PER_HHLD
1,2316.0,1162.0,788.0,344.0,22.0,17031010100,0.665803
2,2688.0,751.0,1317.0,521.0,99.0,17031010201,0.988095
3,1102.0,464.0,449.0,169.0,20.0,17031010202,0.768603
4,3037.0,993.0,1344.0,613.0,87.0,17031010300,0.932170
5,1938.0,655.0,1089.0,194.0,0.0,17031010400,0.762126

In [121]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT

acs = acs_dp05.merge(acs_s1101, on = 'CENSUS_TRACT', suffixes = ('_DP05', '_S1101'))
acs = acs.merge(acs_s1501, on = 'CENSUS_TRACT', suffixes = ('', '_S1501'))
acs = acs.merge(acs_s1901, on = 'CENSUS_TRACT', suffixes = ('', '_S1901'))
acs = acs.merge(acs_dp04, on = 'CENSUS_TRACT', suffixes = ('', '_DP04'))

In [122]:
acs.head()

,TOTAL_POP,TOTAL_MALE,TOTAL_FEMALE,AGE_5U,AGE_5_9,AGE+10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,...,TOTAL_HHLDS_150K_200K,TOTAL_HHLDS_200KP,HHLDS_MEDIAN_INCOME,HHLDS_MEAN_INCOME,TOTAL_HHLDS_DP04,HHLDS_0_VEH,HHLDS_1_VEH,HHLDS_2_VEH,HHLDS_3P_VEH,AVG_VEH_PER_HHLD
0,4522,2301,2221,384,253,240,51,431,845,761,...,3.8,2.5,37985,37985,2316.0,1162.0,788.0,344.0,22.0,0.665803
1,7039,3701,3338,480,507,479,430,259,1225,1390,...,1.2,1.6,39549,39549,2688.0,751.0,1317.0,521.0,99.0,0.988095
2,2852,1390,1462,245,122,123,174,178,526,289,...,2.5,1.1,38370,38370,1102.0,464.0,449.0,169.0,20.0,0.768603
3,6650,3294,3356,351,342,150,267,315,1053,1190,...,3.3,5.3,38866,38866,3037.0,993.0,1344.0,613.0,87.0,0.932170
4,5153,2405,2748,84,232,148,1178,907,839,534,...,3.8,1.4,39152,39152,1938.0,655.0,1089.0,194.0,0.0,0.762126

In [123]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT

variables = acs.columns.drop('CENSUS_TRACT')

In [124]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT


for var in variables:    
    acs[var] = acs[var].replace('-',np.nan)
    acs[var] = acs[var].replace('250,000+','250000')
    acs[var] = acs[var].astype(float)

In [125]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT


acs.to_csv('C:/Workspace/TNC-Demand-Model/Outputs/ACS_' + str(year) + '.csv')

In [126]:
len(acs)

1319

In [127]:
len(acs_dp05)

1319

In [128]:
len(acs_s1501)

1319

In [129]:
len(acs_s1901)

1319

In [130]:
len(acs_s1101)

1319

In [131]:
len(acs_dp04)

1319