In [1]:
import pandas as pd

In [2]:
trip = pd.read_csv('D:/TNC-Demand-Model/Outputs/2019_Weekday_Monthly_Ridehail_TOD.csv')

In [3]:
dz = pd.read_csv('D:/TNC-Demand-Model/Inputs/Chicago Downtown Zone/Downtown Zone Census Tracts.csv')

In [4]:
dz.head()

   tractce10      geoid10  commarea  countyfp10  statefp10
0     839000  17031839000        32          31         17
1      80202  17031080202         8          31         17
2     839100  17031839100        32          31         17
3      81201  17031081201         8          31         17
4     838300  17031838300         8          31         17

In [5]:
trip.head()

,Unnamed: 0,Unnamed: 0_x,DESTINATION,ORIGIN,TOD,MONTH,YEAR,Unnamed: 0_y,Pickup Census Tract,Dropoff Census Tract,...,Additional Charges,Trip Total,PRIVATE_TRIPS,SHARED_TRIPS,Trips Pooled,GEOID_PICKUP,GEOID_DROPOFF,SCALED_SUP_PRIVATE_TRIPS,SCALED_SUP_SHARED_TRIPS,ALL_TRIPS
0,0,0,1.703184e+10,1.703184e+10,1,11,2018,142126.0,1.703184e+10,1.703184e+10,...,2.367778,6.858519,0.637731,1.065831,1.777778,1.703184e+10,1.703184e+10,0.082175,0.065831,1.703562
1,1,1,1.703184e+10,1.703184e+10,1,11,2018,0.0,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
2,2,2,1.703184e+10,1.703184e+10,1,11,2018,0.0,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
3,3,3,1.703184e+10,1.703184e+10,1,11,2018,142121.0,1.703184e+10,1.703184e+10,...,2.500000,17.500000,0.038479,1.076957,1.000000,1.703184e+10,1.703184e+10,0.038479,0.076957,1.115436
4,4,4,1.703184e+10,1.703184e+10,1,11,2018,0.0,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000

In [10]:
dz['geoid10'] = dz.geoid10.astype(float)

In [29]:
dest_dz = trip[trip['DESTINATION'].isin(dz.geoid10)]

In [12]:
dest_dz.head()

,Unnamed: 0,Unnamed: 0_x,DESTINATION,ORIGIN,TOD,MONTH,YEAR,Unnamed: 0_y,Pickup Census Tract,Dropoff Census Tract,...,Additional Charges,Trip Total,PRIVATE_TRIPS,SHARED_TRIPS,Trips Pooled,GEOID_PICKUP,GEOID_DROPOFF,SCALED_SUP_PRIVATE_TRIPS,SCALED_SUP_SHARED_TRIPS,ALL_TRIPS
4,4,4,1.703184e+10,1.703184e+10,1,11,2018,0.0,0.000000e+00,0.000000e+00,...,0.000,0.000,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
16,16,16,1.703108e+10,1.703184e+10,1,11,2018,0.0,0.000000e+00,0.000000e+00,...,0.000,0.000,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
66,66,66,1.703183e+10,1.703184e+10,1,11,2018,0.0,0.000000e+00,0.000000e+00,...,0.000,0.000,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
95,95,95,1.703183e+10,1.703184e+10,1,11,2018,142088.0,1.703184e+10,1.703183e+10,...,2.500,20.000,1.008143,0.007504,1.0,1.703184e+10,1.703183e+10,0.008143,0.007504,1.015647
96,96,96,1.703184e+10,1.703184e+10,1,11,2018,142115.0,1.703184e+10,1.703184e+10,...,2.268,16.018,0.261370,1.084051,2.0,1.703184e+10,1.703184e+10,0.061370,0.084051,1.345421

In [30]:
org_dz = trip[trip['ORIGIN'].isin(dz.geoid10)]

In [15]:
org_dz.head()

,Unnamed: 0,Unnamed: 0_x,DESTINATION,ORIGIN,TOD,MONTH,YEAR,Unnamed: 0_y,Pickup Census Tract,Dropoff Census Tract,...,Additional Charges,Trip Total,PRIVATE_TRIPS,SHARED_TRIPS,Trips Pooled,GEOID_PICKUP,GEOID_DROPOFF,SCALED_SUP_PRIVATE_TRIPS,SCALED_SUP_SHARED_TRIPS,ALL_TRIPS
3204,3204,0,1.703184e+10,1.703184e+10,1,11,2018,0.0,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
3205,3205,1,1.703184e+10,1.703184e+10,1,11,2018,134393.0,1.703184e+10,1.703184e+10,...,2.500000,12.500000,1.005458,0.003638,1.000000,1.703184e+10,1.703184e+10,0.005458,0.003638,1.009096
3206,3206,2,1.703184e+10,1.703184e+10,1,11,2018,134401.0,1.703184e+10,1.703184e+10,...,2.428333,6.864444,2.693205,1.000613,4.200000,1.703184e+10,1.703184e+10,0.159871,0.133946,3.693817
3207,3207,3,1.703184e+10,1.703184e+10,1,11,2018,134403.0,1.703184e+10,1.703184e+10,...,2.142857,9.964286,0.717654,0.502304,1.857143,1.703184e+10,1.703184e+10,0.003368,0.002304,1.219958
3208,3208,4,1.703184e+10,1.703184e+10,1,11,2018,134372.0,1.703184e+10,1.703184e+10,...,2.179708,7.138853,3.110320,0.648963,3.909091,1.703184e+10,1.703184e+10,0.064865,0.012600,3.759283

In [17]:
both_dz = trip[(trip['ORIGIN'].isin(dz.geoid10))&(trip['DESTINATION'].isin(dz.geoid10))]

In [18]:
both_dz.head()

,Unnamed: 0,Unnamed: 0_x,DESTINATION,ORIGIN,TOD,MONTH,YEAR,Unnamed: 0_y,Pickup Census Tract,Dropoff Census Tract,...,Additional Charges,Trip Total,PRIVATE_TRIPS,SHARED_TRIPS,Trips Pooled,GEOID_PICKUP,GEOID_DROPOFF,SCALED_SUP_PRIVATE_TRIPS,SCALED_SUP_SHARED_TRIPS,ALL_TRIPS
3208,3208,4,1.703184e+10,1.703184e+10,1,11,2018,134372.0,1.703184e+10,1.703184e+10,...,2.179708,7.138853,3.110320,0.648963,3.909091,1.703184e+10,1.703184e+10,0.064865,0.012600,3.759283
3220,3220,16,1.703108e+10,1.703184e+10,1,11,2018,133815.0,1.703184e+10,1.703108e+10,...,2.040625,10.415625,1.590696,0.560967,2.625000,1.703184e+10,1.703108e+10,0.340696,0.060967,2.151662
3270,3270,66,1.703183e+10,1.703184e+10,1,11,2018,134322.0,1.703184e+10,1.703183e+10,...,2.258528,9.019910,2.858561,0.713819,4.421053,1.703184e+10,1.703183e+10,0.069087,0.029609,3.572380
3299,3299,95,1.703183e+10,1.703184e+10,1,11,2018,134324.0,1.703184e+10,1.703183e+10,...,2.140152,8.245671,2.150822,0.642560,3.272727,1.703184e+10,1.703183e+10,0.014458,0.006196,2.793381
3300,3300,96,1.703184e+10,1.703184e+10,1,11,2018,134374.0,1.703184e+10,1.703184e+10,...,2.332406,6.859585,8.244814,2.512237,12.590909,1.703184e+10,1.703184e+10,0.062996,0.012237,10.757051

In [20]:
neither_dz = trip[~(trip['ORIGIN'].isin(dz.geoid10))&(trip['DESTINATION'].isin(dz.geoid10))]

In [22]:
neither_dz.head()

,Unnamed: 0,Unnamed: 0_x,DESTINATION,ORIGIN,TOD,MONTH,YEAR,Unnamed: 0_y,Pickup Census Tract,Dropoff Census Tract,...,Additional Charges,Trip Total,PRIVATE_TRIPS,SHARED_TRIPS,Trips Pooled,GEOID_PICKUP,GEOID_DROPOFF,SCALED_SUP_PRIVATE_TRIPS,SCALED_SUP_SHARED_TRIPS,ALL_TRIPS
4,4,4,1.703184e+10,1.703184e+10,1,11,2018,0.0,0.000000e+00,0.000000e+00,...,0.000,0.000,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
16,16,16,1.703108e+10,1.703184e+10,1,11,2018,0.0,0.000000e+00,0.000000e+00,...,0.000,0.000,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
66,66,66,1.703183e+10,1.703184e+10,1,11,2018,0.0,0.000000e+00,0.000000e+00,...,0.000,0.000,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
95,95,95,1.703183e+10,1.703184e+10,1,11,2018,142088.0,1.703184e+10,1.703183e+10,...,2.500,20.000,1.008143,0.007504,1.0,1.703184e+10,1.703183e+10,0.008143,0.007504,1.015647
96,96,96,1.703184e+10,1.703184e+10,1,11,2018,142115.0,1.703184e+10,1.703184e+10,...,2.268,16.018,0.261370,1.084051,2.0,1.703184e+10,1.703184e+10,0.061370,0.084051,1.345421

In [24]:
len(neither_dz)

2027520

In [25]:
len(both_dz)

87120

In [31]:
len(org_dz)

2114640

In [32]:
len(dest_dz)

2114640

In [51]:
both_dz.ALL_TRIPS.sum()

797390.8508191062

In [52]:
neither_dz.ALL_TRIPS.sum()

1424888.5823665638

In [37]:
org_dz.ALL_TRIPS.sum()

2150596.672450804

In [38]:
dest_dz.ALL_TRIPS.sum()

2222279.4331856705

In [39]:
neither_grouped = neither_dz[['YEAR', 'MONTH', 'TOD','SHARED_TRIPS','PRIVATE_TRIPS','ALL_TRIPS']].groupby(by = ['YEAR','MONTH','TOD']).sum()

In [40]:
both_grouped = both_dz[['YEAR', 'MONTH', 'TOD','SHARED_TRIPS','PRIVATE_TRIPS','ALL_TRIPS']].groupby(by = ['YEAR','MONTH','TOD']).sum()

In [41]:
org_grouped = org_dz[['YEAR', 'MONTH', 'TOD','SHARED_TRIPS','PRIVATE_TRIPS','ALL_TRIPS']].groupby(by = ['YEAR','MONTH','TOD']).sum()

In [42]:
dest_grouped = dest_dz[['YEAR', 'MONTH', 'TOD','SHARED_TRIPS','PRIVATE_TRIPS','ALL_TRIPS']].groupby(by = ['YEAR','MONTH','TOD']).sum()

In [43]:
neither_grouped.to_csv('D:/TNC-Demand-Model/Data Exploration/Downtown Zone Breakdown/Trips Outside Downtown Zone.csv')

In [44]:
both_grouped.to_csv('D:/TNC-Demand-Model/Data Exploration/Downtown Zone Breakdown/Trips Within Downtown Zone.csv')

In [50]:
org_grouped.to_csv('D:/TNC-Demand-Model/Data Exploration/Downtown Zone Breakdown/Trips Originating Within and Ending Outside Downtown Zone.csv')

In [47]:
dest_grouped.to_csv('D:/TNC-Demand-Model/Data Exploration/Downtown Zone Breakdown/Trips Starting Outside and Ending Within Downtown Zone.csv')