In [23]:
import pandas as pd
import numpy as np
import geopandas as gp

In [2]:
lehd_wac = pd.read_csv('D:/TNC-Demand-Model/Outputs/CHI_WAC.csv')

In [5]:
lehd_wac[np.isnan(lehd_wac['CNS01'])]

Empty DataFrame
Columns: [Unnamed: 0, YEAR, MONTH, TRACTCE10, CNS01, CNS02, CNS03, CNS04, CNS05, CNS06, CNS07, CNS08, CNS09, CNS10, CNS11, CNS12, CNS13, CNS14, CNS15, CNS16, CNS17, CNS18, CNS19, CNS20]
Index: []

[0 rows x 24 columns]

In [13]:
rh = pd.read_csv('D:/TNC-Demand-Model/Outputs/2019_Weekday_Monthly_Ridehail_TOD.csv', usecols = ['ORIGIN'])

In [14]:
rh['TRACTCE10_PICKUP'] = rh.ORIGIN.astype(str)

In [15]:
rh['TRACTCE10_PICKUP'] = rh['TRACTCE10_PICKUP'].apply(lambda x : x[5:11])
rh['TRACTCE10_PICKUP'] = rh['TRACTCE10_PICKUP'].astype(int)

In [18]:
rh2 = rh.drop_duplicates()

In [19]:
df = pd.merge(rh2, lehd_wac, how = 'left', left_on = ['TRACTCE10_PICKUP'], right_on = ['TRACTCE10'])

In [20]:
df[np.isnan(df['CNS01'])]

,ORIGIN,TRACTCE10_PICKUP,Unnamed: 0,YEAR,MONTH,TRACTCE10,CNS01,CNS02,CNS03,CNS04,...,CNS11,CNS12,CNS13,CNS14,CNS15,CNS16,CNS17,CNS18,CNS19,CNS20
3632,1.703184e+10,835700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9473,1.703136e+10,360200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12210,1.703127e+10,271300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
blocks = gp.read_file('D:/TNC-Demand-Model/Inputs/Census Shapefiles/Illinois/Blocks/tl_2019_17_tabblock10.shp')

In [29]:
cook_blocks = blocks[blocks['COUNTYFP10'] == '031']

In [30]:
cook_blocks.head()

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,MTFCC10,UR10,UACE10,UATYPE,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
1825,17,031,805001,3015,170318050013015,Block 3015,G5040,U,16264,U,S,33596,0,+42.0546398,-087.9440256,"POLYGON ((-87.94666 42.05431, -87.94646 42.054..."
1826,17,031,805001,3017,170318050013017,Block 3017,G5040,U,16264,U,S,23877,0,+42.0557983,-087.9444416,"POLYGON ((-87.94524 42.05616, -87.94519 42.056..."
1827,17,031,805001,3025,170318050013025,Block 3025,G5040,U,16264,U,S,21321,0,+42.0527588,-087.9473428,"POLYGON ((-87.94804 42.05292, -87.94802 42.053..."
1828,17,031,805001,3003,170318050013003,Block 3003,G5040,U,16264,U,S,17080,0,+42.0585935,-087.9459932,"POLYGON ((-87.94672 42.05825, -87.94670 42.058..."
1829,17,031,805001,2001,170318050012001,Block 2001,G5040,U,16264,U,S,48245,0,+42.0639990,-087.9568416,"POLYGON ((-87.95776 42.06582, -87.95744 42.065..."

In [36]:
blocks_list = cook_blocks[cook_blocks['TRACTCE10'] == '835700'].GEOID10

In [38]:
blocks_list = blocks_list.append(cook_blocks[cook_blocks['TRACTCE10'] == '360200'].GEOID10)

In [39]:
blocks_list = blocks_list.append(cook_blocks[cook_blocks['TRACTCE10'] == '271300'].GEOID10)

In [41]:
len(blocks_list)

57

In [43]:
wac_raw = pd.read_csv('D:/TNC-Demand-Model/Inputs/LEHD/Illinois/il_wac_S000_JT00_2018.csv')

In [49]:
rac_raw = pd.read_csv('D:/TNC-Demand-Model/Inputs/LEHD/Illinois/il_rac_S000_JT00_2018.csv')

In [44]:
wac_raw.head()

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05,createdate
0,170010001001001,64,14,36,14,10,19,35,0,0,...,0,0,0,0,0,0,0,0,0,20201120
1,170010001001003,17,3,9,5,1,3,13,0,0,...,0,0,0,0,0,0,0,0,0,20201120
2,170010001001004,46,11,25,10,0,2,44,0,0,...,0,0,0,0,0,0,0,0,0,20201120
3,170010001001007,47,5,31,11,5,13,29,0,0,...,0,0,0,0,0,0,0,0,0,20201120
4,170010001001010,16,5,8,3,7,7,2,0,0,...,0,0,0,0,0,0,0,0,0,20201120

In [45]:
blocks_list.head()

2889      170318357001000
18504     170318357001001
72584     170318357001003
122618    170318357001004
131115    170318357001006
Name: GEOID10, dtype: object

In [47]:
wac_raw[wac_raw['w_geocode'].isin(blocks_list)]

Empty DataFrame
Columns: [w_geocode, C000, CA01, CA02, CA03, CE01, CE02, CE03, CNS01, CNS02, CNS03, CNS04, CNS05, CNS06, CNS07, CNS08, CNS09, CNS10, CNS11, CNS12, CNS13, CNS14, CNS15, CNS16, CNS17, CNS18, CNS19, CNS20, CR01, CR02, CR03, CR04, CR05, CR07, CT01, CT02, CD01, CD02, CD03, CD04, CS01, CS02, CFA01, CFA02, CFA03, CFA04, CFA05, CFS01, CFS02, CFS03, CFS04, CFS05, createdate]
Index: []

[0 rows x 53 columns]

In [51]:
rac_raw[rac_raw['h_geocode'].isin(blocks_list)]

,h_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CR07,CT01,CT02,CD01,CD02,CD03,CD04,CS01,CS02,createdate
36568,170312713001001,150,47,78,25,48,68,34,0,0,...,2,119,31,15,29,38,21,87,63,20201120
36569,170312713001002,39,12,18,9,14,17,8,0,0,...,0,35,4,3,9,11,4,17,22,20201120
36570,170312713001003,36,9,20,7,11,13,12,0,0,...,1,33,3,8,7,8,4,20,16,20201120
36571,170312713001005,32,12,16,4,9,10,13,0,0,...,0,16,16,3,9,4,4,15,17,20201120
36572,170312713001007,45,12,25,8,12,18,15,0,0,...,0,45,0,5,8,13,7,22,23,20201120
36573,170312713001009,8,2,5,1,2,5,1,0,0,...,0,8,0,1,1,3,1,2,6,20201120
36574,170312713001012,7,2,2,3,3,3,1,0,0,...,0,7,0,0,1,2,2,2,5,20201120
36575,170312713001015,4,0,3,1,0,4,0,0,0,...,0,3,1,1,0,3,0,2,2,20201120
36576,170312713001016,21,5,10,6,8,10,3,0,0,...,0,21,0,3,6,3,4,8,13,20201120
36577,170312713001018,39,8,18,13,15,16,8,0,0,...,1,34,5,5,13,6,7,16,23,20201120
36578,170312713001019,21,6,11,4,5,10,6,0,0,...,2,19,2,1,5,4,5,11,10,20201120
36579,170312713001020,9,6,2,1,3,6,0,0,0,...,0,9,0,1,2,0,0,2,7,20201120
36580,170312713001024,15,6,4,5,4,9,2,0,0,...,1,14,1,2,3,3,1,8,7,20201120
36581,170312713001025,9,0,6,3,5,4,0,0,0,...,0,9,0,2,3,3,1,6,3,20201120
36582,170312713001026,50,19,21,10,16,26,8,0,0,...,0,42,8,3,7,11,10,19,31,20201120
38020,170313602001000,218,49,138,31,63,79,76,0,0,...,0,216,2,22,47,59,41,81,137,20201120
38021,170313602001003,16,1,12,3,3,10,3,0,0,...,0,16,0,1,4,5,5,2,14,20201120
38022,170313602001004,91,18,54,19,14,47,30,0,0,...,0,89,2,14,24,22,13,40,51,20201120
38023,170313602001005,2,0,2,0,1,0,1,0,0,...,0,2,0,1,0,1,0,0,2,20201120
38024,170313602001006,19,3,11,5,3,8,8,0,0,...,0,19,0,1,4,5,6,7,12,20201120
38025,170313602001007,37,13,19,5,8,14,15,0,0,...,0,32,5,4,4,9,7,12,25,20201120
38026,170313602001008,74,13,43,18,20,29,25,0,0,...,0,74,0,12,18,16,15,24,50,20201120
38027,170313602001009,28,7,17,4,7,10,11,0,0,...,1,23,5,6,2,6,7,15,13,20201120
38028,170313602001010,46,12,22,12,14,17,15,0,0,...,1,46,0,5,9,14,6,20,26,20201120
38029,170313602001011,13,3,6,4,2,9,2,0,0,...,0,13,0,2,2,3,3,8,5,20201120
38030,170313602001012,40,9,24,7,10,13,17,0,0,...,0,37,3,5,7,7,12,13,27,20201120
38031,170313602001013,60,17,34,9,13,22,25,0,0,...,0,56,4,5,16,13,9,23,37,20201120
38032,170313602001014,8,5,2,1,3,4,1,0,0,...,0,8,0,1,2,0,0,1,7,20201120
38033,170313602001015,10,1,4,5,1,4,5,0,0,...,0,10,0,3,1,4,1,4,6,20201120
94130,170318357001000,19,5,12,2,7,7,5,0,0,...,0,17,2,3,5,5,1,8,11,20201120
94131,170318357001001,20,7,12,1,7,11,2,0,0,...,1,18,2,2,4,4,3,6,14,20201120
94132,170318357001002,24,6,16,2,7,11,6,0,0,...,1,21,3,3,7,6,2,8,16,20201120
94133,170318357001003,23,10,10,3,10,8,5,0,0,...,2,22,1,2,2,3,6,11,12,20201120
94134,170318357001004,29,9,16,4,9,12,8,0,0,...,0,22,7,0,10,7,3,11,18,20201120
94135,170318357001005,17,8,8,1,5,6,6,0,0,...,0,15,2,0,4,3,2,4,13,20201120
94136,170318357001006,16,3,10,3,7,6,3,0,0,...,0,12,4,3,6,0,4,6,10,20201120

In [52]:
wac_raw_17 = pd.read_csv('D:/TNC-Demand-Model/Inputs/LEHD/Illinois/il_wac_S000_JT00_2017.csv')

In [53]:
wac_raw_17[wac_raw_17['w_geocode'].isin(blocks_list)]

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05,createdate
13269,170313602001009,2,0,0,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20201110
13270,170313602001012,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,20201110
34926,170318357001000,5,1,4,0,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20201110

In [54]:
wac_raw_16 = pd.read_csv('D:/TNC-Demand-Model/Inputs/LEHD/Illinois/il_wac_S000_JT00_2016.csv')

In [55]:
wac_raw_16[wac_raw_16['w_geocode'].isin(blocks_list)]

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05,createdate
12381,170312713001012,1,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20200924
13159,170313602001013,65,9,47,9,1,11,53,0,0,...,0,0,0,0,0,0,0,0,0,20200924
34736,170318357001000,5,1,4,0,3,2,0,0,0,...,0,0,0,0,0,0,0,0,0,20200924